
.contact-list {
    margin: auto;
    width: 80%;
    background-color: #202020;
    border-spacing: 0;

}

.contact-list thead tr {
    background-color: #181818;
    color: #08fdd8;
    height: 50px;
    margin: 0;
}

.contact-list thead tr th {
    width: 50%;
}