
.contact-form {
    height: 70%;
}

.custom-input {
    display: flex;
    margin: auto;
    border: 0;
    background: #2b2b2b;
    color: white;
    height: 50px;
    width: 500px;
    font-size: 16px;
    padding: 0 20px;
}

.custom-input:focus {
    outline: none !important;
    border:1px solid #08fdd8;
}

.custom-input + .custom-input {
    margin-top: 10px;
}

.login-btn-wrapper {
    display: flex;
    margin: 30px;
}

.login-button {
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
}

.login-button:hover {
    box-shadow: 1px 1px 20px #08fdd841;
}

.custom-error {
    text-align: center;
    color: red;
}

.custom-success {
    text-align: center;
    color: green;
}

@media screen and (max-width: 780px) {
    .title-text {
        font-size: 40px;
    }

    .custom-input {
        width: 300px;
    }
}