.contact-item {
    text-align: center;
    color: white;
    height: 50px;
    cursor: pointer;
}

.contact-item-title {
    width: 100%;
    display: flex;
}

.contact-item-title:hover {
    filter: brightness(60%);
}

.contact-item-title-text {
    width: 50%;
}

.contact-item-content{
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

.contact-item-btn + .contact-item-btn {
    margin-left: 20px;
}

.contact-item-btn {
    width: 50px;
    height: 40px;
    font-size: 9px;
    padding: 2px;
}