.projects-settings-title-wrapper {
    height: 30%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.projects-settings-title {
    color: #08fdd8;
    font-size: 50px;
    text-align: center;
    margin: 70px;
}

.projects-settings-submit-button-wrapper {
    display: flex;
    margin: 30px;
}

.projects-settings-submit-button {
    margin: auto;
    min-width: 100px;
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
}

.projects-settings-submit-button:hover {
    box-shadow: 1px 1px 20px #08fdd841;
}

.projects-tiles {
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1120px;
}

.projects-tile {
    width: 280px;
    height: 280px;
    background: #08fdd8;
    filter: brightness(60%);
    display: flex;
    cursor: pointer;
}

.project-wrapper {
    /* flex-basis: 33.333333% */
    flex-basis: 25%
}

.projects-tile:hover {
    filter: brightness(90%);
    box-shadow: 1px 1px 10px #08fdd87e;
}

.projects-add-icon {
    margin: auto;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1120px) {
    .projects-tiles {
        width: 840px;
    }
    .project-wrapper {
        flex-basis: 33.333333%
    }
}

@media screen and (max-width: 840px) {
    .project-wrapper {
        flex-basis: 33.333333%
    }

    .projects-tiles {
        width: 360px;
    }

    .projects-tile {
        width: 120px;
        height: 120px;
    }
}
