.img-tile {
    width: 140px;
    height: 140px;
    background: #08fdd8;
    display: flex;
    cursor: pointer;
    position: relative;
}

.tile-preview-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    position: absolute;
}

.img-tile-actions {
    width: 140px;
    height: 140px;
    position: absolute;
    display: none;
}

.img-tile:hover .tile-preview-img {
    filter: brightness(10%);
}

.img-tile:hover .img-tile-actions {
    display: flex;
}

@media screen and (max-width: 840px) {
    .tile-preview-img {
        width: 140px !important;
        height: 140px !important;
    }
    .img-tile {
        width: 140px !important;
        height: 140px !important;
    }
}