.img-tile {
    width: 140px;
    height: 140px;
    background: #08fdd8;
    filter: brightness(90%);
    display: flex;
    cursor: pointer;
    transition: transform .2s;
}

.img-tile:hover {
    opacity: 0.8;
}

.tile-preview-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

@media screen and (max-width: 840px) {
    .tile-preview-img {
        width: 140px !important;
        height: 140px !important;
    }

    .img-tile {
        width: 140px !important;
        height: 140px !important;
    }
}