.home {
    height: 80vh;
    display: flex;
}

.headline {
    width: 50%;
    margin: auto;
    color: white;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.headline-top {
    font-size: 50px;
}

.headline-bottom {
    font-size: 25px;
}

.headline-top::before {
    content: 'console.log( ';
    font-size: 40px;
    color: #08fdd8;
    margin-left: -25%;
}

.headline-top::after {
    content: ' )';
    font-size: 40px;
    color: #08fdd8;
}

.social-icons:hover {
    opacity: 0.8;
}

@media screen and (max-width: 780px) {
    .headline {
        width: 70%;
    }

    .headline-top {
        font-size: 20px;
    }

    .headline-bottom {
        font-size: 15px;
    }

    .headline-top::before, .headline-top::after {
        font-size: 17px;
    }

    .social-icons {
        height: 30px;
    }
}

hr{
    background: #08fdd8;
    height: 1px;
    border: 0;
}
