.tab {
    display: inline-flex;
    margin: auto;
}

.link {
    text-decoration: none;
    color: #08fdd8;
    height: 50px;
    display: flex;
}

.route-name {
    display: none;
    width: 50px;
    margin: auto;
    font-size: 15px;
}

.route-icon{
    display: block;
    margin: auto;
    width: 50px;
}

.tab:hover .route-name{
    display: block;
}

.tab:hover .route-icon{
    display: none;
}