body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d1d1d;
}

.app {
    position: relative;
}

canvas, .overlay {
    position: absolute;
}

.overlay {
    width: 100%;
}