body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d1d1d;
}

.app {
    position: relative;
}

canvas {
    position: fixed;
}

.container {
    height: 80vh;
}

.title {
    display: flex;
    width: 100%;
    height: 30%;
}

h1 {
    margin: auto;
    height: 30%;
    color: #08fdd8;
    font-size: 50px;
}

.headline {
    display: flex;
    margin-top: 2%;
}

.headline-text {
    margin: auto;
    text-align: center;
    font-size: 20px !important;
    color: white;
}

.custom-btn {
    margin: auto;
    min-width: 100px;
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
}

.custom-btn:hover {
    box-shadow: 1px 1px 20px #08fdd841;
}

.custom-btn-wrapper {
    display: flex;
    margin: 30px;
}