body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d1d1d;
}

.app {
    position: relative;
}

canvas {
    position: fixed;
}

.container {
    height: 80vh;
    width: 100%;
}

.title {
    display: flex;
    width: 100%;
    height: 30%;
}

h1 {
    margin: auto;
    height: 30%;
    color: #08fdd8;
    font-size: 50px;
}

.headline {
    display: flex;
    margin-top: 2%;
}

.headline-text {
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 16px !important;
    color: white;
}

.headline-error {
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: #08fdd8;
}

.custom-btn {
    margin: auto;
    min-width: 100px;
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
}

.custom-btn:hover {
    box-shadow: 1px 1px 20px #08fdd841;
}

.custom-btn-wrapper {
    display: flex;
    margin: 30px;
}

.custom-message {
    text-align: center;
    color: #08fdd8;
}

.custom-input, .custom-textarea {
    display: flex;
    margin: auto;
    border: 0;
    background: #2b2b2b;
    color: white;
    height: 50px;
    width: 500px;
    font-size: 16px;
    padding: 0 20px;
}

.custom-textarea {
    height: 150px;
    font: inherit;
    padding: 20px 20px;
}

.custom-textarea:focus, .custom-input:focus {
    outline: none !important;
    border:1px solid #08fdd8;
}

.custom-input + .custom-input, .custom-input + .custom-textarea, .custom-textarea + .custom-input{
    margin-top: 10px;
}

@media screen and (max-width: 840px) {
    h1 {
        font-size: 35px;
    }

    .headline-text {
        font-size: 15px !important;
    }

    .custom-input, .custom-textarea {
        width: 250px;
    }
}