.settings {
    height: 90vh;
}

.settings-tabs-wrapper {
    height: 70px;
    width: 100%;
    background-color: #202020;
}

.settings-tabs {
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: 70px;
    width: 50%;
    text-align: center;
    display: flex;
}

.settings-tab {
    display: flex;
    margin: auto;
    width: 60px;
    color: #08fdd8;
}

.settings-tab + .settings-tab {
    margin-right: 0;
}

.settings-tab {
    width: 100%;
}

.settings-tab-button {
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
    width: 150px;
}
.settings-tab-button:active {
    border: 1px solid #08fdd8;
}

.settings-tab-button:hover {
    box-shadow: 1px 1px 10px #08fdd841;
}

.settings-title-wrapper {
    height: 30%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.settings-title {
    color: #08fdd8;
    font-size: 50px;
    text-align: center;
    margin: 70px;
}

.settings-submit-button-wrapper {
    display: flex;
    margin: 30px;
}

.settings-submit-button {
    margin: auto;
    min-width: 100px;
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
}

.settings-submit-button:hover {
    box-shadow: 1px 1px 20px #08fdd841;
}

.settings-skills-timeline {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.settings-skills-message {
    text-align: center;
    color: #08fdd8;
    font-size: 15px;
}

@media screen and (max-width: 780px) {
    .settings-tabs {
        width: 90%;
    }

    .settings-tab-button {
        font-size: 8px;
        letter-spacing: 2px;
        padding: 5px;
        width: 80px;
    }
}