.main-settings-submit-button-wrapper {
    display: flex;
    margin: 30px;
}

.main-settings-submit-button {
    margin: auto;
    min-width: 100px;
    height: 50px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
}

.main-settings-submit-button:hover {
    box-shadow: 1px 1px 20px #08fdd841;
}